
.solution__container{
    margin-top: 4rem;
}
.solution__head{
    justify-content: center;

}
.solution-content{
    margin-top: 2rem;
}

h1{
    color: var(--color-primary);
    
}
p{
    color: gray;
    text-align: justify;

}
.invation-img{
    display: flex;
    width: 45%;
    height: 70%;
    gap: 2rem;
    margin-left: 5rem;
    margin-top: 1rem;   
    display: none; 
    
}

/*MEDIA QUERIES (medium screen)*/

@media screen and (max-width:1024px) {
    .service__container{
        width: 100%;

    }
    .invation-img{
        display: flex;
        width: 80%;
        height: 30%;
        gap: 2rem;
        margin-left: 5rem;
        margin-top: 1rem;    
        
    }
    
}
/*MEDIA QUERIES (small screen)*/

@media screen and (max-width:600px) {
    .service__container{
        width: 100%;

    }
    .invation-img{
        display: none;
    }
    
    
}